<div class="box-container stylemovecontaineruser">
    <div class="card">
        <div class="social">
            <a
                class="fab fa-twitter"
                href="#"
            ></a>
            <a
                class="fab fa-facebook"
                href="#"
            ></a>
            <a
                class="fab fa-behance"
                href="#"
            ></a>
            <a
                class="fab fa-dribbble"
                href="#"
            ></a>
            <a
                class="fab fa-linkedin"
                href="#"
            ></a>
            <a
                class="fab fa-github"
                href="#"
            ></a>
        </div>
        <div class="pic">
            <img
                src="../../assets/0.jpeg"
                alt="profile-picture"
                title="Someone Famous"
            >
        </div>
        <div
            *ngIf="data"
            class="content"
        >
            <h3 class="title">{{data.name}}</h3>
            <span>{{data.role}}</span>
            <p>{{data.discription}}</p>
            <div>
                <h4 class="title">Friends</h4>
                <p *ngFor="let friend of data.freinds">{{friend.name}}</p>
            </div>

        </div>
    </div>

</div>
<div
    *ngIf="data"
    class="box-container stylemovecontainerpost"
>
    <div
        *ngFor="let newpost of data.post"
        class="card"
    >
        <div class="content">
            <div>
                <h3 class="title">{{newpost.title}}</h3>
                <p>{{newpost.discription}}</p>
            </div>

        </div>
    </div>

</div>
